<h1>List of products</h1>


<% @products.each do |product| %>

<p><%= product.name %>
  <ul>
  <li> <%= product.description %> </li>
<%= product.formatted_price %>

</ul>
<% end %>
<br />
<%= link_to 'Add a New Product', new_product_url%>
